/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


img{
    width: 100%;
    height: 100%;
}

/* hover config */
.function, .arrow, button:hover{
    cursor: pointer;
}
.function:hover{
    color: green;
}
.ending:hover{
    font-weight: bold;
    cursor:pointer;
}
/* // hover config */
/* flex config */
.d-flex{
    display: flex;
}

/* header config */

.viewConfig{
    background-color: black;
    justify-content: flex-end;
}

.speakerView, .fullscreen{
    background-color: grey;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

/* // header config */

/* main config */
main{
    height: 80vh;
    width: 90%;
    margin: 5.2vh auto;
}
/* // main config */

/* webcam config */
.row{
    width: 100%;
    height: calc(100% / 5);
    flex-flow: row wrap;
}
.webcamContain{
    position: relative;
    width: calc(100% / 7);
    height: 100%;
    padding: 7px 5px;
}

.micStatus{
    background-color: rgba(101, 101, 101, 0.402);
    color: white;
    padding: 2px 4px;
    position: absolute;
    bottom: 7px;
    left: 5px;
}
/* // webcam config */


/* footer config */
footer{
    
    background-color: #222222;
    height: 8vh;
    justify-content: space-between;
}
/* //footerconfig */

.f-flex{
    display: flex;
    margin: 10px;
}
.f-container{
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
}

.function{
    font-size: 30px;
    padding-bottom: 1px;
}



.arrow{
    align-self: center;
    margin-right: 20px;
}

.function, .f-text, .arrow{
    color: white;
}

.ending{
    background-color: lightgrey;
    width: 6%;
    justify-content: center;
}

.green{
    color: green;
}

#end{
    color: red;
    align-self: center;
}